.form-section {
    text-align: center;
    margin: 100px 0px 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 400px;
}